.Calendar {
    display: flex;
    flex-direction: column;
}

.currentMonth {
    margin-left: 60px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 790px;
    height: 500px;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.allPagesContainer {
    height: 500px;
    display: flex;
}

.button {
    position: relative;
    width: 50px;
    text-align: center;
}

