.Day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-align: center;
}

.dayNumber {
    font-size: 25px;
}
.dayName {
    font-size: 14px;
}

.Day:hover {
    background-color: aquamarine;
}