.MonthWrapper {
    min-width: 100px;
    min-height: 100px;

    background-color: lightgrey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.MonthWrapper:hover {
    background-color: aquamarine;
}
