.TaskList {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 250px;
    background-color: aquamarine;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width: 25px;
    height: 25px;
}

.ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}