body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar-wrapper {
    background-color: aquamarine;
    width: 700px;
    margin-top: 25px;
    margin-bottom: 25px;
}
