body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar-wrapper {
    background-color: lightgrey;
    width: 700px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}