.TaskList {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 250px;
    background-color: aquamarine;
}



.headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
